%div.main.large-12.columns

  %div.large-3.columns.menu.helvetica
    %div.box
    %div.box
    %div.box
    %div.box
    %div.box

  %div.large-9.columns.right
    %h1.helvetica Hello and Welcome
    %p.helvetica More about me % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, cupiditate voluptatum iusto iste rerum laudantium blanditiis libero quidem porro in optio tenetur delectus cumque enim maiores. Laboriosam, blanditiis alias enim.




