@font-face {
  font-family: 'helvetica_neueultralight';
  src:          url('../fonts/helveticaneue-ultralight-webfont.eot');
  src:          url('../fonts/helveticaneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
                url('../fonts/helveticaneue-ultralight-webfont.woff') format('woff'),
                url('../fonts/helveticaneue-ultralight-webfont.ttf') format('truetype'),
                url('../fonts/helveticaneue-ultralight-webfont.svg#helvetica_neueultralight') format('svg');
  font-weight:  normal;
  font-style:   normal;
}

.greyscale {
  filter:         grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
  filter:         url(resources.svg#desaturate); /* Gecko */
  filter:         gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.greyscale:hover {
  filter:         grayscale(0%); /* Current draft standard */
  -webkit-filter: grayscale(0%); /* New WebKit */
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
  filter:         url(resources.svg#desaturate); /* Gecko */
  filter:         gray; /* IE */
  -webkit-filter: grayscale(0); /* Old WebKit */
}

$font-color:      white;

.helvetica {
  font-family:        'helvetica_neueultralight', arial;
  color:              $font-color;
  background-color:   #F24814;
}

hr {
  margin-top:         80px;
}

.main {
  position:           absolute;
  width:              100%;
  top:                0;
  z-index:            10;
  text-align:         center;
}

.right {
  width:              75%;
  margin-right:       15%;
}

.title {
  font-weight:        bold;
  font-size:          4em;
  color:              #222222;
  text-align:         center;
  margin-top:         10%;
  margin-bottom:      10%;
}

.intro {
  margin-top:         4%;
  font-size:          2em;
}

.project {
  display:            block;
  width:              75%;
  height:             75%;
  margin:             0 auto;
  margin-top:         100px;
}

.explanation {
  font-size:          1.5em;
  clear:              both;
}

.project-title {
  margin-top:         40px;
}

.github {
  height:             50px;
  width:              50px;
}

.footer {
  height:             100px;
  width:              100%;
}



